{deps, [
 {esupervisor, ".*", {git, "https://github.com/spawngrid/esupervisor.git", {branch, "master"}}},
 {gen_bunny, ".*",
   {git, "http://github.com/dreid/gen_bunny.git", ""}},
 {ossp_uuid, ".*", {git, "https://github.com/yrashk/erlang-ossp-uuid.git", {branch, "master"}}}
]}. 
{sub_dirs, ["rel"]}.
